﻿@page "/Groups"

@using STehnology.Scripts
@using Microsoft.EntityFrameworkCore

<h1>Список сотрудников</h1>
@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Ставка</th>
            <th>Группа</th>
            <th>Начальник</th>
            <th>Подчиняется</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input @bind-value="groupSelected.NameGroup"/></td>
            <td><input @bind-value="groupSelected.EnemyPlex"/></td>
            <td><input @bind-value="groupSelected.MaxPlex"/></td>

            <td>@if (isCreateMode)
                {
                    <button @onclick="CreateGroup">Создать</button>
                }
                else
                {
                    <button @onclick="SaveGroup">Сохранить</button>
                }</td>
        </tr>
        @foreach (var value in SQLite.Instance.groupsCompany)
        {
            <tr>
                <td>@value.NameGroup</td>
                <td>@value.EnemyPlex</td>
                <td>@value.MaxPlex</td>
                <td><button @onclick="() => SelectGroup(value)">Выбрать</button></td>
            </tr>
        }
        </tbody>
    </table>
    
    if(!isCreateMode)
    {
    <h1>Участники</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Имя Фамилия</th>
                <th>Работает с</th>
                <th>Ставка</th>
                <th>Группа</th>
                <th>Начальник</th>
                <th>Подчиненяется</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var value in SQLite.Instance.enemysCompany.Where(u => u.IdGroup == groupSelected.Id))
            {
                var group = SQLite.Instance.groupsCompany.FirstOrDefaultAsync(s => s.Id == value.IdGroup).Result;
                var parentUser = SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == value.IdEnemy).Result;
                var parentUser2 = SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == value.IdParent).Result;
                <tr>
                    <td>@value.Name</td>
                    <td>@value.JoinedWork</td>
                    <td>@value.Payment</td>
                    <td>@group?.NameGroup</td>
                    <td>@parentUser?.Name</td>
                    <td>@parentUser2?.Name</td>
                </tr>
            }
            </tbody>
        </table>
        
@*         <h1>Зарплата</h1> *@
@*         <p><input type="date" @onchange="SetDate" /> <button @onclick="() => CalcPayment(groupSelected, _dateTime)">Расчитать</button></p> *@
@*         @if(_paymentInfo != null) *@
@*         { *@
@*             <table class="table"> *@
@*                 <thead> *@
@*                 <tr> *@
@*                     <th>Базовая ЗП</th> *@
@*                     <th>Премия</th> *@
@*                     <th>Всего</th> *@
@*                     <th>Лет</th> *@
@*                 </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                 <tr> *@
@*                     <td>@_paymentInfo.PayUser</td> *@
@*                     <td>@_paymentInfo.PayBonus</td> *@
@*                     <td>@_paymentInfo.PayTotal</td> *@
@*                     <td>@_paymentInfo.TotalYear</td> *@
@*                 </tr> *@
@*                 </tbody> *@
@*             </table> *@
@*         } *@
    }
}

@code {
    
    private EnemyCompany[] forecasts;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await SQLite.Instance.enemysCompany.ToArrayAsync();
        isCreateMode = true;
    }
}

@functions
{
    private DateTime _dateTime = DateTime.Now;
    private bool isCreateMode;
    private GroupCompany groupSelected = new GroupCompany();

    private void SelectGroup(GroupCompany user)
    {
        groupSelected = user;
        isCreateMode = false;
    }
    private void SaveGroup()
    {
        // SQLite.Instance.enemysCompany.FirstOrDefaultAsync(s => s.Id == userSelected.Id);
        SQLite.Instance.SaveChangesAsync();
        groupSelected = new GroupCompany();
        isCreateMode = true;
    }
    private void CreateGroup()
    {
        SQLite.Instance.AddAsync(groupSelected);
        var id = SQLite.Instance.SaveChangesAsync();
        groupSelected = new GroupCompany();
    }

    private PaymentInfo _paymentInfo;
    private void CalcPayment(GroupCompany user, DateTime dateTime)
    {
        // if (user.JoinedWork > dateTime)
        // {
        //     _paymentInfo = new PaymentInfo();
        //     return;
        // }
        // var _userGroup = SQLite.Instance.groupsCompany.FirstOrDefault(u => u.Id == user.IdGroup);
        //
        // var totalDays = (dateTime - user.JoinedWork).Days;
        // var totalMouth = Math.Max((int)Math.Floor(totalDays / 30f), 0);
        // var totalYear = Math.Max((totalMouth / 12), 0);
        //
        // float curBonus = 0;
        // if (_userGroup != null)
        // {
        //     var minBonus = _userGroup.EnemyPlex;
        //     var maxBonus = _userGroup.MaxPlex;
        //     curBonus = Math.Clamp(_userGroup.EnemyPlex * totalYear, minBonus, maxBonus);
        // }
        // var PayUser = user.Payment;
        // var PayBonus = user?.Payment / 100 * curBonus;
        // var PayTotal = PayUser + PayBonus;
        //
        // _paymentInfo = new PaymentInfo
        // {
        //     TotalDay = totalDays,
        //     TotalMouth = totalMouth,
        //     TotalYear = totalYear,
        //     
        //     PayUser = PayUser,
        //     PayBonus = PayBonus,
        //     PayTotal = PayTotal
        // };
    }
    
    private class PaymentInfo
    {
        public int TotalDay;
        public int TotalMouth;
        public int TotalYear;
        
        public int PayUser;
        public float? PayBonus;
        public float? PayTotal;
    }


    private void SetDate(ChangeEventArgs obj)
    {
        _dateTime = DateTime.Parse(obj.Value.ToString());
    }
}
