﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://gitlab.com/nurbat5/stech" target="_blank">GitLab Source</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>